<div class="row">
  <nb-card size="auto">
    <nb-card-header>
      <h1>Usage</h1>
    </nb-card-header>
    <nb-card-body>
      <h4>How to use this portal</h4>
      <ul>
        <li>Select the menu to explore <b>Observations</b> or <b>Site Data</b>.</li>
        <li>Expand Observations or Site Data tabs for <b>Data Table</b> link.</li>
        <li>On the feature records window (Grid), you can filter the data on the field names (e.g. by State, Dataset
          Name,
          Study Location ID, etc)</li>
      </ul>

      <h4>Data Download</h4>
      <p>To download the dataset, use 'Export as CSV' function on the features window.</p>
      <p><b>Please Note:</b> This will only download the data of the first 1000 records.
        To download the complete dataset, go to the <a href="/#/pages/eem-download">Data Download</a>.</p>

      <h4>Use of Site/Data</h4>
      <p>The data provided in this website is for representation only, currently in prototype and under review.</p>
      <p>The data should not be used for any research or analysis purpose.</p>

    </nb-card-body>
  </nb-card>
</div>