<nb-card>
  <nb-card-header>Distribution of heights</nb-card-header>
  <nb-card-body>
    <chart type="bar" [data]="cdata" [options]="coptions" style="height: 20em"></chart>
  </nb-card-body>
</nb-card>

