<nb-layout windowMode>
  <nb-layout-header fixed>
    <ngx-header position="normal"></ngx-header>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar"
               tag="menu-sidebar"
               responsive>
    <nb-sidebar-header>Menu</nb-sidebar-header>
    <ng-content select="nb-menu"></ng-content>
  </nb-sidebar>

  <nb-layout-column class="main-content">
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>
</nb-layout>
