<nb-card>
  <nb-card-header>
    Observations feature records
    <button type="button" class="btn btn-primary btn-tn float-right" (click)="export()">
      Export as CSV
    </button>
  </nb-card-header>
  <nb-card-body>
    <ag-grid-angular class="the-grid ag-theme-balham" [columnDefs]="columnDefs" [cacheBlockSize]="cacheBlockSize"
      [enableServerSideSorting]="enableServerSideSorting" [enableServerSideFilter]="enableServerSideFilter"
      [infiniteInitialRowCount]="infiniteInitialRowCount" [paginationPageSize]="paginationPageSize" [rowModelType]="rowModelType"
      [enableFilter]="true" [enableColResize]="true" [pagination]="true" (gridReady)="onGridReady($event)" [debug]="false">
    </ag-grid-angular>
  </nb-card-body>
</nb-card>