<nb-card>
  <nb-card-header>
    Site Data feature records
    <small class="text-hint" *ngIf="presetSurveyIdFilter">Pre-filtered for Survey ID = {{presetSurveyIdFilter}}</small>
    <button type="button" class="btn btn-primary btn-tn float-right" (click)="export()">
      Export as CSV
    </button>
  </nb-card-header>
  <nb-card-body>
    <ag-grid-angular class="the-grid ag-theme-balham" [columnDefs]="columnDefs" [enableSorting]="true" [enableFilter]="true"
      [enableColResize]="true" [pagination]="true" (gridReady)="onGridReady($event)" (filterChanged)="filterChanged()"
      [enableServerSideSorting]="enableServerSideSorting" [enableServerSideFilter]="enableServerSideFilter"
      [infiniteInitialRowCount]="infiniteInitialRowCount" [paginationPageSize]="paginationPageSize" [rowModelType]="rowModelType">
    </ag-grid-angular>
  </nb-card-body>
</nb-card>