<div class="row">
  <nb-card size="auto">
    <nb-card-header>
      <h1>Download Datasets</h1>
    </nb-card-header>
    <nb-card-body>
      <p>Download EEM Datasets in CSV format:</p>
      <div *ngFor="let d of datasets">
        <h4>{{d.custodian}} ({{d.datasetName}})</h4>
        <a class="btn btn-primary" href="/sitedata-{{d.datasetName}}.csv">Site Data</a>
        <a class="btn btn-primary" href="/observations-{{d.datasetName}}.csv">Observation Data</a>
        <p> </p>
      </div>
      <div>
        <h4>All datasets</h4>
        <a class="btn btn-primary" href="/sitedata.csv">Site Data</a>
        <a class="btn btn-primary" href="/observations.csv">Observation Data</a>
        <p> </p>
      </div>
    </nb-card-body>
  </nb-card>
</div>