<h1>EEM API Documentation</h1>
<div class="card">
  <div class="card-header">
    EEM API
  </div>
  <div class="card-body">
    <h5 class="card-title">API Documentation in JSON</h5>
    <p class="card-text">
      The api documentation in JSON, can be viewed in the following link. (Note: Please install a JSON viewer plugin on
      your browers to have a better view of JSON)<br /><br />
      <b>Trivia:</b><i>This Dashboard application uses the API briefly described here to get EEM data from the
        database. This
        should
        help you to
        think about all kinds of frontend applications which can be writting using this API to mine EEM data.</i>
    </p>
    <h6 class="text-info">URI: {{eemAPIDocUrl}}</h6>
    <a href="{{eemAPIDocUrl}}" target="_blank" class="btn btn-primary">View</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Observations
  </div>
  <div class="card-body">
    <h5 class="card-title">Retrieve Observations records</h5>
    <p class="card-text">
      This api end point allows the retrieval of Observations records.<br />
      <b>Warning:</b> We recommend that you always use a limit (and pagination) to query since there are millions of
      records and
      retrieving all records can impact performance. See examples below:
    </p>
    <br />
    <h6>Retrieve 20 records</h6>
    <h6 class="text-info">URI: {{observationsEndPointUrl}}?limit=20</h6>
    <a href="{{observationsEndPointUrl}}?limit=20" target="_blank" class="btn btn-primary">Try</a>

    <p></p>
    <h6>Retrieve 1000 records</h6>
    <h6 class="text-info">URI: {{observationsEndPointUrl}}?limit=1000</h6>
    <a href="{{observationsEndPointUrl}}?limit=1000" target="_blank" class="btn btn-primary">Try</a>

    <p></p>
    <h6>Retrieve 20 records from Corveg (qld_corveg). (Try this endpoint with these values also: oeh_vis, dewnr_bdbsa,
      wadec_ravensthorpe). These are the 4 datasets currently being show-cased.</h6>
    <h6 class="text-info">URI: {{observationsEndPointUrl}}?datasetName=eq.qld_corveg&limit=20</h6>
    <a href="{{observationsEndPointUrl}}?datasetName=eq.qld_corveg&limit=20" target="_blank" class="btn btn-primary">Try</a>

    <p></p>
    <h6>The above are just a few examples of what can be done with the api. There are many queries which can be perform
      including pagination. If you want to know more about the queries which can be perform please read more <a href="https://postgrest.org/en/v4.1/api.html"
        target="_blank">PostgREST API</a> </h6>
  </div>
</div>


<div class="card">
  <div class="card-header">
    Site Data
  </div>
  <div class="card-body">
    <h5 class="card-title">Retrieve Site Data records</h5>
    <p class="card-text">
      This api end point allows the retrieval of Site Data records.<br />
      <b>Warning:</b> As with the Observations records, please use limit and pagination to
      retrieve records for performance consideration. See examples below:
    </p>
    <br />
    <h6>Retrieve 20 records</h6>
    <h6 class="text-info">URI: {{siteDataEndPointUrl}}?limit=20</h6>
    <a href="{{siteDataEndPointUrl}}?limit=20" target="_blank" class="btn btn-primary">Try</a>

    <p></p>
    <h6>Retrieve 1000 records</h6>
    <h6 class="text-info">URI: {{siteDataEndPointUrl}}?limit=1000</h6>
    <a href="{{siteDataEndPointUrl}}?limit=1000" target="_blank" class="btn btn-primary">Try</a>

    <p></p>
    <h6>Retrieve 20 records from Corveg (qld_corveg). (Try this endpoint with these values: oeh_vis, dewnr_dbbsa,
      wadec_ravensthorpe)</h6>
    <h6 class="text-info">URI: {{siteDataEndPointUrl}}?datasetName=eq.qld_corveg&limit=20</h6>
    <a href="{{siteDataEndPointUrl}}?datasetName=eq.qld_corveg&limit=20" target="_blank" class="btn btn-primary">Try</a>

    <p></p>
    <h6>Again if you want to know more about different queries you can perform please visit <a href="https://postgrest.org/en/v4.1/api.html"
        target="_blank">PostgREST API</a> </h6>
  </div>
</div>