<div class="row">
  <nb-card size="auto">
    <nb-card-header>
      <h1>Welcome</h1>
    </nb-card-header>
    <nb-card-body>
      <h3>About this demonstration</h3>
      <p>
        This is a demo dashboard to enable users to explore the Essential Environmental Measures data.
      </p>
      <p>
        Use the links in the menu to view either <strong>Observations</strong> or <strong>Site Data</strong> data.
      </p>
      <h4> Use of Site/Data:</h4>
        <p>EEM Dashboard is used to find data about native vegetation. The data provided in this website is for representation only, currently in prototype and under review.<br/>
        The data should not be used for any research and analysis purpose.</p>
        
        <h4>Acknowledgments:</h4>
        <p>This site and all information herein is based upon work supported by Department of Environment and Energy Essential Environment Measures program, Department of Environment and Energy Information model and data exchange protocol working group, Department of Environment and Energy Native Vegetation Measures development working group and Australian Research Data Commons (ARDC).</p>

        <h4>Disclaimer:</h4>
        <p>The EEM dashboard and its content are provided on a "as-is" and "as available" basis. You understand and agree that you use the EEM dashboard at your discretion and risk and that you will be solely responsible for any damage or loss whatsoever that results from such use including use of any data obtained through the EEM dashboard.</p>

        <p>Web links to this site from external, third party websites should not be constructed as implying any relationships with and/or endorsement of the external site or its content by TERN.</p>

        <p>If you have any concerns about the veracity of the data or website content, please inform us via email.</p>

        <h4>Revisions to the Terms:</h4>
        <p>TERN reserves the right to revise, amend, modify or replace these Terms, Our Site and/or Our other policies and agreements at any time and in any manner. If You disagree with Our Terms, Your only recourse is to discontinue Your use of this Site and any information or services on this Site.</p>
        
    </nb-card-body>
  </nb-card>
</div>